body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: bisque;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 15px 30px;
}

.logo{
    color: white;
}

.menu {
    color: white;
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: #00bcd4;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #f4f4f4;
}